[Desktop Entry]
Version=1.0
Name=Macaw-Movies
GenericName=Media player
Comment=Organize your movie collection.
Exec=/usr/bin/macaw-movies
Icon=macaw-movies
Terminal=false
Type=Application
Categories=AudioVideo;
MimeType=
Keywords=Organizer;Video;Movies;
