[Desktop Entry]
Version=1.0
Name=Macaw-Movies
Name[ca]=Macaw-Movies
Name[es]=Macaw-Movies
Name[pt]=Filmes-Macaw
Name[sk]=Macaw-Movies
Name[uk]=Macaw-Movies
Name[x-test]=xxMacaw-Moviesxx
GenericName=Media player
GenericName[ca]=Reproductor multimèdia
GenericName[es]=Reproductor multimedia
GenericName[pt]=Leitor multimédia
GenericName[sk]=Prehrávač médií
GenericName[uk]=Мультимедійний програвач
GenericName[x-test]=xxMedia playerxx
Comment=Organize your movie collection.
Comment[ca]=Organitza la vostra col·lecció de pel·lícules.
Comment[es]=Organice su colección de películas.
Comment[pt]=Organize a sua colecção de filmes.
Comment[sk]=Organizovať vašu zbierku filmov.
Comment[uk]=Упорядкуйте вашу збірку відео.
Comment[x-test]=xxOrganize your movie collection.xx
Exec=/usr/bin/macaw-movies
Icon=macaw-movies
Terminal=false
Type=Application
Categories=AudioVideo;
MimeType=
Keywords=Organizer;Video;Movies;
Keywords[ca]=Organitzador;Video;Pel·lícules;
Keywords[es]=Organizador;Vídeo;Video;Películas;
Keywords[pt]=Organizador;Vídeo;Filmes;
Keywords[sk]=Organizér;Video;Filmy;
Keywords[uk]=Organizer;Video;Movies;упорядкування;відео;фільми;серіали;
Keywords[x-test]=xxOrganizerxx;xxVideoxx;xxMoviesxx;
